@model MBLabs.LGClubeWebBackendWeb.Models.SliderListModel

@using GridMvc.Html
@using PagedList.Mvc;
@using PagedList;

@{
    ViewBag.Title = "Clube LG";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    html {
        overflow-y: scroll;
    }
</style>

@section styles {
}

@section scripts {
}

<div class="container">
    <div class="portlet">
        <h3 class="portlet-title">
            <u>Buscar >> Slider</u>
        </h3>
        <div class="portlet-body">
            <div id="table-1_wrapper" class="dataTables_wrapper form-inline" role="grid">
                <form id="index" method="POST" class="form">
                    <br />
                    <div class="row container">
                        @Html.HiddenFor(x => x.SearchParameter)
                        <a class="btn btn-default" href="/slider">Novo</a>
                    </div>
                </form>
                <br />
                <hr />
                <div id="div-results">
                    @Html.Grid(Model.ModelList).Columns(columns =>
                        {
                            columns.Add().Encoded(false).Sanitized(false).RenderValueAs((d => @<a href="@d.PhotoPath" class="viewPhotoPath"><img src="@d.PhotoPath" style="width: 20px;" /></a>));
                            columns.Add(model => model.Order).Titled("Ordem");
                            columns.Add(model => model.DtBegin).Titled("Início");
                            columns.Add(model => model.DtEnd).Titled("Término");
                            columns.Add().Encoded(false).Sanitized(false).SetWidth(15).RenderValueAs((d => @<button class="btn btn-xs btn-primary" onClick="javascript:window.location.href='/slider/@d.Id'"><i class="fa fa-pencil"></i></button>));
                            columns.Add().Encoded(false).Sanitized(false).SetWidth(15).RenderValueAs(d => @<a href="/slider/@d.Id/remover" class="btn btn-xs btn-secondary confirmDialog"><i class="fa fa-times"></i></a>);
                        })
                </div>
                @Html.PagedListPager((IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("List", new { page }))
            </div>
        </div>
    </div>
</div>